<!DOCTYPE html>
{% include 'navbar.html' %}

{% block content %}
<body style="background-color:white">
<br>
<center>
  <h2>Users Details</h2>
    </center>
<br>


{% endblock %}
<center>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<html lang="en">
<head>

    <meta charset="UTF-8">
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr><th>Full Name</th>
        <th>Team Name</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>

    {% for mood in employees %}
    <tr>
        <td>{{ mood.event }}</td>
        <td>{{ mood.team_name }}</td>

               <td>
            <a href="/delete/{{ employee.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>


<form action="/emp" method="post" class="form">
    {% csrf_token %}

        <button type="submit" class="btn btn-info">New</button>


</form>

</body>
</center>
</html>